/* Main CSS */

/* Container styles */
.c234container {
    background-color: #f1f1f1; 
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 200px auto;
    max-width: 800px;
    display: flex;
    align-items: center;
    width: 60%;
}

.signup-content{
	width: 75%;
}

.form-title {
    font-size: 28px;
    margin-bottom: 20px;
}


.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}


.form-group input[type="checkbox"] {
    margin-right: 10px;
}

.label-agree-term {
    font-size: 16px;
}


.form-submit {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.form-submit:hover {
    background-color: #45a049;
}

.signup-image {
    flex: 1;
    margin-right: 20px;
}

.signup-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.signup-form {
    flex: 2;
    padding: 0 20px;
}


@media screen and (max-width: 768px) {
    .c234container {
        flex-direction: column;
    }

    .signup-image {
        margin-right: 0;
        margin-bottom: 20px;
    }
}
